html, body, pre, code, kbd, samp {
    font-family: "Kongtext";
}

.main-div{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
}

.yellow{
    background-color: #fbbd08;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}